:root{
    --footer-h : 100px;
    --header-w : 230px;
}

*,
*::before,
*::after{
    padding:0;
    margin:0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
}

nav ul{
    list-style-type: none;
}

/* ------------------------------------------------------------- */
/*                            HEADER                             */
/* ------------------------------------------------------------- */
header{
    background-color: black;
    color:#888;
    min-width: var(--header-w);
    height: 100%;
    font-weight: bold;
    padding:1rem 0;
}
header .logo{
    width:60%;
}

header img,
header h3,
header ul:nth-child(3){
    margin-left: 1rem;
}
/* nav */
header nav{
    font-size: .8rem;
}
header nav ul{
    padding-bottom:.1rem;
}
header nav > ul > li{
    margin:1rem 0;
}
header li label{
    display: block;
    height:25px;
}
header li .header-icon{
    height:25px;
    vertical-align: middle;
    filter: invert(61%) sepia(9%) saturate(0%) hue-rotate(184deg) brightness(87%) contrast(87%);
    -webkit-filter: invert(61%) sepia(9%) saturate(0%) hue-rotate(184deg) brightness(87%) contrast(87%);
}
header label > .selected{
    width: 4px;
    height: 100%;
    top:0;
    left:0px;
}
/* header playlist */
.add > .text{
    line-height: 30px;
}
.add-icon{
    background-color: #888;
    width: 30px;
    height:30px;
    margin-right: .6rem;
}
.add-icon .text{
    color:black;
    font-size: 1.5rem;
    margin: auto;
}
/* events */
header li:hover .add-icon{
    background-color: white;
}
header li:hover,
header label:hover,
header li:hover .header-icon{
    color:white;
    filter: none;
    -webkit-filter: none;
    cursor: pointer;
}

/* ------------------------------------------------------------- */
/*                             MAIN                              */
/* ------------------------------------------------------------- */
main{
    background-color: #141922;
    color:white;
    flex-grow: 1;
}
/* premium */
#premium{
    background-color: #080b12;
    text-align: end;
    padding:1rem .2rem;
}
/* nav */
main nav{
    color:#888;
    margin-bottom: 4rem;
    padding:1rem;
    font-size: .8rem;
}
main nav ul{
    margin: auto;
}
main nav > ul > li{
    margin:0 .5rem 2rem;
}
main label > .selected{
    width: 2rem;
    height: 2px;
    bottom :-2px;
    left:50%;
    transform: translate(-50%,0);
}

/* ------------------------------------------------------------- */
/*                            FOOTER                             */
/* ------------------------------------------------------------- */
footer{
    background-color: blue;
    height: var(--footer-h);
}

footer .player-sec{
    border:1px solid white;
    flex-basis: 33%;
}


/* ------------------------------------------------------------- */
/*                            CLASSES                            */
/* ------------------------------------------------------------- */
/* box */
.container{
    height: calc(100vh - var(--footer-h));
}
/* flex */
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}

/* cards */
.cards{
    margin-bottom: 2rem;
}
.cards-2it{
    width: calc(((100vw - var(--header-w)) / 3 - .8rem));
}
.card{
    /* da assegnare all imagine della card */
    width: calc((100vw - var(--header-w)) / 6 - .8rem);
    height: calc((100vw - var(--header-w)) / 6 - .8rem);
    max-width: 150px;
    max-height: 150px;
    background-color: aqua;
}

/* text */
.uppercase{
    text-transform: uppercase;
}

/* button */
.btn{
    background-color: #0000;
    color:white;
    border: 2px solid;
    border-radius: 20px;
    padding:.5rem 2rem;
}

/* position */
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}

/* input category */
input.hidden{
    display: none;
}
label{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
}
.selected{
    background-color: greenyellow;
}
input.hidden:checked + label > .selected{
    display:block;
}
:not(input.hidden:checked) + label > .selected{
    display: none;
}

/* ------------------------------------------------------------- */
/*                              IDS                              */
/* ------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/*                         RESPONSIVENESS                        */
/* ------------------------------------------------------------- */
/* large <1200 */
@media screen and (max-width: 1199px) {
    
}
/* medium <992 */
@media screen and (max-width: 991px) {
    
}
/* small <768 */
@media screen and (max-width: 767px) {
    
}
/* extra small <576 */
@media screen and (max-width: 575px) {
    :root{
        --header-w: 60px;
    }
}