:root{
    --footer-h : 100px;
    --header-w : 230px;
}

*,
*::before,
*::after{
    padding:0;
    margin:0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', 'Poppins';
    color: white ;
}

a{
    text-decoration: none;
    color:inherit;
}

nav ul{
    list-style-type: none;
}

/* ------------------------------------------------------------- */
/*                            HEADER                             */
/* ------------------------------------------------------------- */
header{
    background-color: black;
    min-width: var(--header-w);
    width: var(--header-w);
    height: 100%;
    padding:1rem 0 0;
    flex-direction: column;
    font-size: .8rem;
    overflow-y: auto;
}
header .logo{
    width:60%;
}

header img,
header ul:nth-child(3){
    margin-left: 1rem;
}
/* header nav */
header nav{
    font-size: .8rem;
}
header nav ul{
    padding-bottom:.1rem;
}
header nav ul > li{
    margin:1rem 0;
}
header li label{
    display: block;
    height:25px;
}
header .header-icon{
    height:25px;
    vertical-align: middle;
    filter: invert(61%) sepia(9%) saturate(0%) hue-rotate(184deg) brightness(87%) contrast(87%);
    -webkit-filter: invert(61%) sepia(9%) saturate(0%) hue-rotate(184deg) brightness(87%) contrast(87%);
}
header label > .selected{
    width: 4px;
    height: 100%;
    top:0;
    left:0;
}
/* header playlist */
.add .text{
    line-height: 30px;
}
.icon{
    background-color: #888;
    width: 30px;
    height:30px;
    margin-right: .6rem;
}
.add .icon .text{
    color:black;
    font-size: 1.5rem;
    margin: auto;
}
/* personal */
header .personal{
    bottom:0;
    left:0;
    width: 100%;
    padding:0 1rem;
}
header .personal img{
    margin: .5rem;
    margin-left:0;
}
header .user-img{
    border-radius: 50%;
}

/* events */
header li:hover .icon{
    background-color: white;
}

label:hover,
label:hover .header-icon,
a:hover .header-icon,
a:hover,
header input:checked + label,
header input:checked + label .header-icon{
    color:white;
    filter: none;
    -webkit-filter: none;
}

/* ------------------------------------------------------------- */
/*                             MAIN                              */
/* ------------------------------------------------------------- */
main{
    overflow-y: auto;
    background-color: #141922;
    flex-grow: 1;
    padding-bottom: 3rem;
}
/* premium */
#premium{
    background-color: #080b12;
    text-align: end;
    padding:1rem 1.5rem;
}
#premium button:hover{
    transform: scale(1.1);
}
/* nav */
main nav{
    padding:1rem;
    font-size: .8rem;
}
main nav ul{
    margin: auto;
}
main nav > ul > li{
    margin:0rem .5rem 2rem;
}
main label > .selected{
    width: 2rem;
    height: 2px;
    bottom :-2px;
    left:50%;
    transform: translate(-50%,0);
}
/* cards */
main .title,
main .subtitle{
    margin-bottom:1.5rem;
}
main .card:hover .play-album{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    background-color: #0005;
}


/* ------------------------------------------------------------- */
/*                            FOOTER                             */
/* ------------------------------------------------------------- */
footer{
    background-color: #282828;
    height: var(--footer-h);
    padding:1rem;
    font-size: .9rem;
}

footer .player-sec{
    flex-basis: 27%;
}
.player-sec:not(#player) i{
    margin-right: 1rem;
}
/* song */
#song .left img{
    width: 50px;
}
#song .song-info{
    padding: 0 .8rem;
    flex-direction: column;
    flex-grow: 1;
}
#song .song-info .title{
    font-size: .8rem;
}
#song .song-info .title,
#song .song-info .subtitle{
    line-height: 1rem;
}
#song .right{
    flex-grow: 1;
}
#song a.subtitle:hover{
    text-decoration: underline;
} 
#song .btn:hover{
    color: white;
}

/* player */
#player{
    flex-basis: auto;
    flex-grow: 1;
    padding:0 1rem;
}
#player .top{
    margin: 0 auto;
    width: 200px;
    font-size: 1rem;
}
#player .top .fa-circle-play{
    font-size: 1.8rem;
}
#player .top .fa-circle-play:hover{
    transform: scale(1.05);
}

#player .bottom{
    font-size: .7rem;
    margin-top: .8rem;
}

/* control-panel */
#control-panel .range{
    min-width: 80px;
    width: 50%;
    margin: 0;
}

/* ------------------------------------------------------------- */
/*                            CLASSES                            */
/* ------------------------------------------------------------- */
/* box */
.container{
    height: calc(100vh - var(--footer-h));
}
.section-container{
    padding:1rem 0.5rem 1rem 1rem  ;
}
.wrapped-img{
    border-radius: 50%;
    overflow: hidden;
}
.divider{
    height: 1px;
    background-color: #888;
    width: 100%;
}

.center{
    transform: translate(-50%, -50%);
    top: 50%;
    left:50%
}

/* flex */
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-start-center{
    display: flex;
    align-items: center;
}
.flex-end-center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* cards */
.card{
    width: calc((100% / 6) - 1rem);
    max-width: 140px;
    margin: 1rem 1rem 1rem 0;
    text-align: center;
}

.card img{
    width: 100%;
}
.card .title{
    margin: .3rem 0;
}

/* text */
.uppercase{
    text-transform: uppercase;
}
.subtitle{
    font-size: .7rem;
}

/* gray */
header,
main > nav,
footer #song .btn{
    color:#888;
}

/* white */
.btn,
.username,
header h3,
footer{
    color: white;
}
/* button */
.btn{
    cursor: pointer;
}
button.btn{
    background-color: #0000;
    border: 2px solid;
    border-radius: 20px;
    padding:.5rem 2rem;
}

/* position */
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}

/* timeline */
.range{
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #595959;
    margin: 0 .5rem;
}
.current-range{
    width: 30%;
    height: 100%;
    border-radius: 10px;
    background-color: #aaa;
}
.range .cursor{
    display: none;
    width: 15px;
    height: 15px;
    left: 30%;
    border-radius: 50%;
    background-color: white;
}
.range:hover .current-range{
    background-color: yellowgreen;
}
.range:hover .cursor{
    display: block;
}

/* input category */
label{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.selected{
    background-color: greenyellow;
}
input.hidden:checked + label > .selected{
    display:block;
}

/* display none */
header .logo-mobile,
input.hidden,
:not(input.hidden:checked) + label > .selected,
.play-album{
    display: none;
}

/* ------------------------------------------------------------- */
/*                              IDS                              */
/* ------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/*                         RESPONSIVENESS                        */
/* ------------------------------------------------------------- */
/* extrs large */
@media screen and (min-width: 1450px) {
    /* class */
    .card{
        max-width: 200px;
    }
}
/* large <1200 */
@media screen and (max-width: 1199px) {
    /* è uguale alla versione desktop */
}
/* medium <992 */
@media screen and (max-width: 991px) {
    .cards{
        justify-content: flex-start;
    }
    .card{
        max-width: none;
        width: calc(100% / 4 - 1rem);
    }
}
/* small <768 */
@media screen and (max-width: 767px) {
    /* footer */
    footer{
        padding:.5rem;
    }
    .player-sec:not(#player) i{
        margin-right: .5rem;
    }
        /* song */
    #song .left img{
        width: 40px;
    }
    #song .right{
        padding-left: .5rem;
    }
        /* player */
    #player{
        padding: 0 .5rem;
    }
    #player .top{
        width: 150px;
    }
    
    /* class */
    .cards{
        justify-content: flex-start;
    }
    .card{
        width: calc(100% / 2 - 1rem);
    }
}
/* extra small <576 */
@media screen and (max-width: 575px) {
    :root{
        --header-w: 60px;
    }

    /* header */
    header .logo,
    header input.hidden:checked + label > .selected,
    .hidden-on-mobile{
        display: none;
    }
    header .logo-mobile{
        display: inline;
        height: 25px;
    }
    header .personal{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header .personal img{
        margin: .5rem 0;
    }

    /* footer */
        /* song */
    #song .left img{
        width: 30px;
    }
    #song .song-info{
        padding: 0 .5rem;
    }
        /* player */
    #player .top{
        margin: 0;
        width: 100%;
    }
        /* control-panel */
    #control-panel .range{
        min-width: 60px;
    }
}