:root{
    --footer-h : 100px;
}

*,
*::before,
*::after{
    padding:0;
    margin:0;
    border: 0;
    box-sizing: border-box;
}

/* ------------------------------------------------------------- */
/*                            HEADER                             */
/* ------------------------------------------------------------- */
header{
    background-color: red;
    width: 230px;
    height: 100%;
}

/* ------------------------------------------------------------- */
/*                             MAIN                              */
/* ------------------------------------------------------------- */
main{
    background-color: rebeccapurple;
    flex-grow: 1;
}

/* ------------------------------------------------------------- */
/*                            FOOTER                             */
/* ------------------------------------------------------------- */
footer{
    background-color: blue;
    height: var(--footer-h);
}

/* ------------------------------------------------------------- */
/*                            CLASSES                            */
/* ------------------------------------------------------------- */
/* box */
.container{
    height: calc(100vh - var(--footer-h));
}
/* flex */
.flex{
    display: flex;
}

/* ------------------------------------------------------------- */
/*                         RESPONSIVENESS                        */
/* ------------------------------------------------------------- */
/* large <1200 */
@media screen and (max-width: 1199px) {
    
}
/* medium <992 */
@media screen and (max-width: 991px) {
    
}
/* small <768 */
@media screen and (max-width: 767px) {
    
}
/* extra small <576 */
@media screen and (max-width: 575px) {
    header{
        width: 60px;
    }
}