:root{
    --footer-h : 100px;
    --header-w : 230px;
}

*,
*::before,
*::after{
    padding:0;
    margin:0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
}

a{
    text-decoration: none;
    color:inherit;
}

nav ul{
    list-style-type: none;
}

/* ------------------------------------------------------------- */
/*                            HEADER                             */
/* ------------------------------------------------------------- */
header{
    background-color: black;
    min-width: var(--header-w);
    height: 100%;
    padding:1rem 0;
}
header .logo{
    width:60%;
}
header .logo-mobile{
    display: none;
}

header img,
header ul:nth-child(2){
    margin-left: 1rem;
}
/* header nav */
header nav{
    font-size: .8rem;
}
header nav ul{
    padding-bottom:.1rem;
}
header nav ul > li{
    margin:1rem 0;
}
header li label{
    display: block;
    height:25px;
}
header .header-icon{
    height:25px;
    vertical-align: middle;
    filter: invert(61%) sepia(9%) saturate(0%) hue-rotate(184deg) brightness(87%) contrast(87%);
    -webkit-filter: invert(61%) sepia(9%) saturate(0%) hue-rotate(184deg) brightness(87%) contrast(87%);
}
header label > .selected{
    width: 4px;
    height: 100%;
    top:0;
    left:0;
}
/* header playlist */
.add .text{
    line-height: 30px;
}
.icon{
    background-color: #888;
    width: 30px;
    height:30px;
    margin-right: .6rem;
}
.add .icon .text{
    color:black;
    font-size: 1.5rem;
    margin: auto;
}
/* personal */
header .personal{
    bottom:0;
    left:0;
    width: 100%;
    padding:1rem;
}
header .personal img{
    margin: .5rem;
    margin-left:0;
}
header .user-img{
    border-radius: 50%;
}

/* events */
header li:hover .icon{
    background-color: white;
}
/* li:not(li:first-child):hover,/* first child sarebbe sbagliato ma funziona grazie a label:hover*/
label:hover,
label:hover .header-icon,
a:hover .header-icon,
a:hover,
header input:checked + label,
header input:checked + label .header-icon{
    color:white;
    filter: none;
    -webkit-filter: none;
    cursor: pointer;
}

/* ------------------------------------------------------------- */
/*                             MAIN                              */
/* ------------------------------------------------------------- */
main{
    overflow-y: auto;
    background-color: #141922;
    flex-grow: 1;
}
/* premium */
#premium{
    background-color: #080b12;
    text-align: end;
    padding:1rem .2rem;
}
/* nav */
main nav{
    margin-bottom: 4rem;
    padding:1rem;
    font-size: .8rem;
}
main nav ul{
    margin: auto;
}
main nav > ul > li{
    margin:0 .5rem;
}
main label > .selected{
    width: 2rem;
    height: 2px;
    bottom :-2px;
    left:50%;
    transform: translate(-50%,0);
}

/* ------------------------------------------------------------- */
/*                            FOOTER                             */
/* ------------------------------------------------------------- */
footer{
    background-color: blue;
    height: var(--footer-h);
}

footer .player-sec{
    flex-basis: 33%;
}


/* ------------------------------------------------------------- */
/*                            CLASSES                            */
/* ------------------------------------------------------------- */
/* box */
.container{
    height: calc(100vh - var(--footer-h));
}
.divider{
    height: 1px;
    background-color: #888;
    width: 100%;
}

.center{
    transform: translate(-50%, -50%);
    top: 50%;
    left:50%
}

/* flex */
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-start-center{
    display: flex;
    align-items: center;
}

/* cards */
.cards{
    margin-bottom: 2rem;
}
.cards-2it{
    width: calc(((100vw - var(--header-w)) / 3 - .8rem));
}
.card{
    /* da assegnare all imagine della card e usa il 100%*/
    /* width: calc(100% / 6 - .8rem); */
    width: calc((100vw - var(--header-w)) / 6 - .8rem);
    height: calc((100vw - var(--header-w)) / 6 - .8rem);
    max-width: 150px;
    max-height: 150px;

    background-color: aqua;
}

/* text */
.uppercase{
    text-transform: uppercase;
}
.title{

}
.subtitle{
    font-size: .7rem;
}

/* gray */
header,
.subtitle,
main > nav{
    color:#888;
}
/* white */
.btn,
header .personal .username,
main{
    color:white;
}

/* button */
.btn{
    background-color: #0000;
    border: 2px solid;
    border-radius: 20px;
    padding:.5rem 2rem;
}

/* position */
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}

/* input category */
input.hidden{
    display: none;
}
label{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.selected{
    background-color: greenyellow;
}
input.hidden:checked + label > .selected{
    display:block;
}
:not(input.hidden:checked) + label > .selected{
    display: none;
}

/* ------------------------------------------------------------- */
/*                              IDS                              */
/* ------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/*                         RESPONSIVENESS                        */
/* ------------------------------------------------------------- */
/* large <1200 */
@media screen and (max-width: 1199px) {
    
}
/* medium <992 */
@media screen and (max-width: 991px) {
    
}
/* small <768 */
@media screen and (max-width: 767px) {
    
}
/* extra small <576 */
@media screen and (max-width: 575px) {
    :root{
        --header-w: 60px;
    }

    /* header */
    header .logo{
        display: none;
    }
    header .logo-mobile{
        display: inline;
        height: 25px;
    }

    header input.hidden:checked + label > .selected{
        display: none;
    }

    header .personal{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header .personal img{
        margin: .5rem 0;
    }
    .hidden-on-mobile{
        display: none;
    }
    
}